@use 'modern-normalize';

.button {
  padding: 0.25em 0.5em;

  border: 1px solid grey;
  background-color: transparent;

  &.is-active {
    border: 1px solid blue;
    background-color: lightblue;
  }

  &:disabled,
  &.is-disabled {
    background-color: lightgrey;
    filter: grayscale(50)
  }

  &:hover {
    border: 1px solid blue;
    background-color: lightblue;
  }
}

table {
  border-collapse: collapse;
  font-variant-numeric: tabular-nums;
}

th, td {
  padding: 0.25rem;

  border: 1px solid black;
  text-align: right;

  &.no-border {
    border: none;
  }
}

.text-center {
  text-align: center;
}

.text-muted {
  color: grey;
}

.text-small {
  font-size: calc(10 / 16 * 1rem);
}

img {
  vertical-align: top;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}